services:
  loki:
    image: grafana/loki:latest
    container_name: loki
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/local-config.yaml
    volumes:
      - loki-storage:/loki
      - ./loki/loki-config.yaml:/etc/loki/local-config.yaml
    networks:
      - monitoring

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    depends_on:
      - loki
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      #- grafana-storage:/var/lib/grafana
      - ./grafana:/etc/grafana/provisioning
    networks:
      - monitoring
  
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus:/etc/prometheus
      - prometheus-storage:/prometheus 
    networks:
      - monitoring

  tempo:
    image: grafana/tempo:latest
    container_name: tempo
    user: root
    command: [ "-config.file=/etc/tempo.yaml" ]
    volumes:
      - ./tempo/tempo.yaml:/etc/tempo.yaml
      - tempo-storage:/tmp/tempo
    ports:
      - "3200:3200"
    networks:
      - monitoring

volumes:
  #grafana-storage:
  loki-storage:
  prometheus-storage:
  tempo-storage:

networks:
  monitoring:
    driver: bridge